.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--work-carousel-gap);
  height: 100%;
}

.preview {
  height: 100%;
}

.left {
  animation: 0.5s ease-in-out forwards slide-left;
}

.right {
  animation: 0.5s ease-in-out forwards slide-right;
}

.button {
  border: 1px solid var(--window-alt);
  background-color: var(--window-alt);
  box-shadow: 1px 1px 1px 1px var(--blog-carousel-button-box-shadow-color);
  color: var(--text-color);
  font-weight: bold;
  font-size: var(--text-font-size);
  border-radius: 50%;
  width: var(--blog-carousel-button-size);
  height: var(--blog-carousel-button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  user-select: none;
  z-index: 10;
}

.leftButton {
  left: var(--blog-carousel-button-offset);
}

.rightButton {
  right: var(--blog-carousel-button-offset);
}

.button:hover {
  background-color: var(--carousel-button-alt);
}

@keyframes slide-left {
  from {
    /* 
          Previews move instantaneously via a state update, so this animation puts them
          back to where they were pre-update and slides them over
        */

    transform: translate(-42vw);
  }

  to {
    transform: 0;
  }
}

@keyframes slide-right {
  from {
    transform: translate(42vw);
  }

  to {
    transform: 0;
  }
}
