.content {
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.windows {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 5vh;
}

.window {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

.numbers li {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
}

.code {
  font-family: "Courier New", Courier, monospace;
}
