.text {
  color: var(--text-color);
  font-size: var(--typewriter-font-size);
  font-weight: var(--typewriter-font-weight);
}

.heading {
  margin-top: var(--typewriter-top-margin);
}

.pipe {
  color: var(--text-color-alt);
  font-size: var(--typewriter-font-size);
  font-weight: var(--typewriter-pipe-weight);
}

.pipe-idle {
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
