.content {
  width: 100%;
  height: var(--section-height);
  display: flex;
  flex-direction: column;
  margin: 0;
}

.spacer {
  flex-grow: 1;
}

.article {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  justify-content: flex-end;
  align-self: flex-end;
  text-align: right;
  width: var(--home-section-content-width);
  color: var(--text-color);
}
