.background {
  background-color: var(--window-background);
  border-radius: 16px;
}

.top-bar {
  background-color: var(--window-alt);
  width: 100%;
  height: var(--window-top-bar-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: var(--window-top-bar-border-radius);
}

.action-button {
  width: var(--window-action-button-size);
  height: var(--window-action-button-size);
  margin-left: var(--window-tab-gap);
  border-radius: 50%;
}

.close {
  background-color: var(--window-close);
}

.minimize {
  background-color: var(--window-minimize);
}

.fullscreen {
  background-color: var(--window-fullscreen);
}

.lower-bar {
  display: flex;
  flex-direction: row;
}

.tab {
  display: flex;
  align-items: row;
  white-space: nowrap;
  background-color: var(--window-background);
  color: var(--text-color);
  font-size: var(--window-tab-font-size);
  margin: var(--window-tab-gap);
  padding: var(--window-tab-padding);
  font-family: var(--window-tab-font-family);
  gap: var(--window-tab-gap);
}

.tab-bar {
  width: 100%;
  background-color: var(--window-tab-bar);
  height: var(--window-tab-bar-height);
}
