.content {
  width: 100%;
  height: var(--section-height);
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: var(--contact-section-bottom-margin);
}

.spacer {
  flex-grow: 1;
}

.window {
  width: auto;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: right;
}

.windowInner {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.article {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
  justify-content: flex-end;
  align-self: flex-end;
  text-align: right;
  width: var(--contact-section-content-width);
  color: var(--text-color);
}

.items {
  width: var(--contact-section-content-width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-right: var(--contact-section-items-gap);
}

.item {
  display: flex;
  gap: var(--contact-section-items-gap);
  font-weight: var(--text-font-weight);
}

.item p a {
  text-decoration: none;
  color: var(--text-color);
}

.item p a:hover,
.item p a:active {
  text-decoration: underline;
  color: var(--text-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--contact-section-items-gap);
}
