.window {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  width: var(--preview-width);
  z-index: 0;
}

.date {
  font-style: italic;
}

.image {
  width: var(--preview-width);
  height: auto;
}

.excerpt {
  color: var(--text-color);
  font-size: var(--text-font-size-alt);
  font-weight: var(--text-font-weight);
  padding: 0;
  margin: 0;
}

.preview {
  width: auto;
}

.title {
  color: var(--text-color);
  font-weight: var(--preview-title-font-weight);
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--preview-padding);
  padding: var(--preview-padding);
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: var(--blog-preview-title-date-gap);
  align-items: center;
}
