.navbar {
  position: sticky;
  display: flex;
  margin: auto;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  backdrop-filter: blur(var(--navbar-blur));
  z-index: 20;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-grow: 1;
  list-style: none;
  padding-inline-start: 0;
  font-size: var(--navbar-font-size);
  font-weight: var(--navbar-font-weight);
}

.navbar__listItem {
  cursor: pointer;
}

.navbar__listItem:hover,
.navbar__listItem:active {
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: normalToAlt;
  animation-play-state: running;
  animation-timing-function: ease-in;
}

@keyframes normalToAlt {
  0% {
    font-weight: var(--navbar-font-weight);
  }

  100% {
    font-weight: var(--navbar-font-weight-alt);
  }
}
