.content {
  width: 90%;
  margin: auto;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 66%;
  gap: 5rem;
  padding: 1.5rem;
  margin-top: 1.5rem;
  font-size: 24px;
}
