.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url("./images/Home.jpg");
  background-color: #232c18;
  background-blend-mode: multiply;
  background-size: cover;
  background-attachment: initial;
  background-position: center top;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-content {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
