.window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.numbers {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin: var(--code-window-editor-margin);
}

.numbers li {
  list-style: none;
  font-family: "Consolas", "Courier New", monospace;
  text-align: right;
  font-size: auto;
  color: var(--text-color-alt);
}

.code {
  font-family: "Consolas", "Courier New", monospace;
  font-size: auto;
  color: var(--text-color);
  margin: var(--code-window-editor-margin);
}

.code span {
  font-family: inherit;
}

.string {
  color: var(--code-window-value);
}
.number {
  color: var(--code-window-number);
}
.key {
  color: var(--code-window-field);
}
.string .bracket {
  color: var(--text-color);
}

.editor {
  display: flex;
  flex-direction: row;
  line-height: var(--code-window-editor-line-height);
}

.lower-bar {
  display: flex;
  flex-direction: row;
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: var(--window-tab-gap);
  background-color: var(--window-background);
  color: var(--text-color);
  font-size: var(--window-tab-font-size);
  margin: var(--window-tab-gap);
  padding: var(--window-tab-padding);
  font-family: var(--code-window-tab-font-family);
}

.logo {
  color: var(--code-window-tab-logo);
}

.tab-bar {
  width: 100%;
  background-color: var(--window-tab-bar);
  height: var(--code-window-tab-height);
}
