.image {
  width: var(--preview-width);
  height: auto;
}

.description {
  color: var(--text-color);
  height: 100%;
  font-size: var(--text-font-size-alt);
  font-weight: var(--text-font-weight);
  padding: var(--preview-padding);
  padding-top: 0;
  margin: 0;
}

.title {
  margin: 0;
  color: var(--text-color);
  padding: var(--preview-padding);
  font-size: var(--preview-title-font-size);
  font-weight: var(--preview-title-font-weight);
}
