@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

.app {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.content {
  width: 80%;
  margin: auto;
  position: relative;
  z-index: 2;
}

.content h1 {
  color: white;
}
