.content {
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: var(--navbar-height);
  z-index: 2;
  position: relative;
}

.navbar {
  position: fixed;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
