.text {
  color: #8516da;
  font-size: 48px;
  font-weight: 900;
}

.pipe {
  color: black;
  font-size: 48px;
  font-weight: 400;
}

.pipe-idle {
  animation: 1s blink step-end infinite;
}

.wrapper {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding-top: 1.5rem;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
