.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: var(--blog-carousel-item-gap);
}

.left {
  animation: 0.5s ease-in-out forwards slide-left;
}

.right {
  animation: 0.5s ease-in-out forwards slide-right;
}

.button {
  border: 1px solid var(--window-alt);
  background-color: var(--window-alt);
  box-shadow: 1px 1px 1px 1px var(--blog-carousel-button-box-shadow-color);
  color: var(--text-color);
  font-weight: bold;
  font-size: var(--text-font-size);
  border-radius: 50%;
  width: var(--blog-carousel-button-size);
  height: var(--blog-carousel-button-size);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  user-select: none;
  z-index: 10;
}

.leftButton {
  left: var(--blog-carousel-button-offset);
}

.rightButton {
  right: var(--blog-carousel-button-offset);
}

.button:hover {
  border-color: var(--carousel-button-alt);
  background-color: var(--carousel-button-alt);
}
