.content {
  color: var(--text-color);
}

.content h1 {
  font-size: var(--blog-detail-h1-font-size);
  font-weight: var(--blog-detail-h1-font-weight);
}

.content h2 {
  font-size: var(--blog-detail-h2-font-size);
  font-weight: var(--blog-detail-h2-font-weight);
}

.content h3 {
  font-size: var(--blog-detail-h3-font-size);
  font-weight: var(--blog-detail-h3-font-weight);
}

.content p,
.content li {
  font-size: var(--text-font-size);
  font-weight: var(--text-font-weight);
}
